
.form-control {
    width: 270%;
    height: 50px;
}

.frame-container {
    gap: 0.1rem;
}

.frame-child {
    width: 33.031rem;
    position: relative;
    height: 34.294rem;
    object-fit: cover;
}

.sign-in-to {
    align-self: stretch;
    position: relative;
    line-height: 2.5rem;
}

.image-939-icon {
    width: 2.081rem;
    position: relative;
    height: 2.25rem;
    object-fit: cover;
}

.sign-up-with {
    flex: 1;
    position: relative;
    letter-spacing: 0.08em;
    line-height: 2.5rem;
}

.image-939-parent {
    width: 18.5rem;
    border-radius: 12px;
    border: 1px solid #000;
    box-sizing: border-box;
    height: 4.625rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    gap: 0.75rem;
}

.image-940-icon {
    width: 2.431rem;
    position: relative;
    height: 2.625rem;
    object-fit: cover;
}

.frame-group {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    font-family: Poppins;
}

.sign-in-to-fasco-parent {
    width: 39rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.5rem;
    font-family: Volkhov;
}

.frame-item {
    width: 1.863rem;
    position: relative;
    background-color: #838383;
    height: 0.313rem;
}

.or {
    width: 2.856rem;
    position: relative;
    letter-spacing: 0.08em;
    line-height: 2.5rem;
    display: inline-block;
    flex-shrink: 0;
}

.rectangle-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
    color: #838383;
}

.email {
    align-self: stretch;
    position: relative;
    letter-spacing: 0.08em;
    line-height: 2.5rem;
}

.input-name-child {
    align-self: stretch;
    position: relative;
    border-top: 1px solid #9d9d9d;
    box-sizing: border-box;
    height: 0.063rem;
}

.input-name {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.5rem;
}

.input-name-parent {
    width: 39rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.5rem;
}

.sign-in {
    position: relative;
    letter-spacing: 0.08em;
    line-height: 2.5rem;
    font-weight: 600;
}

.sign-in-wrapper {
    border-color: #5b86e5;
    width: 39rem;
    border-radius: 12px;
    background-color: #5b86e5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.75rem;
    box-sizing: border-box;
}

.sign-in-wrapper-register {
    border-color: wheat;
    width: 39rem;
    border-radius: 12px;
    background-color: wheat;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.75rem;
    box-sizing: border-box;
}

.register-now-wrapper {
    text-decoration: none;
    border-color: wheat;
    width: 39rem;
    border-radius: 12px;
    background-color: wheat;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.75rem;
    box-sizing: border-box;
}

.forget-password {
    align-self: stretch;
    position: relative;
    letter-spacing: 0.08em;
    line-height: 2.5rem;
    text-align: right;
}

.frame-parent1 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 0.5rem;
    color: #5b86e5;
}

.frame-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.125rem;
    color: #fff;
}

.frame-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.5rem;
    font-size: 1rem;
    color: #9d9d9d;
}

.frame-parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.rectangle-parent {
    background-color: white;
    border-radius: 3rem;
    padding: 45px;
    position: absolute;
    top: calc(50% - 354px);
    left: calc(50% - 640px);
    width: 80rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
}

.d {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 64rem;
    overflow: hidden;
    text-align: left;
    font-size: 1.875rem;
    color: #000;
    font-family: Poppins;
    background-image: url('https://wallpapers.com/images/hd/food-4k-anl1yr892h6ccjeb.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

